{% load static %}



{% include 'websitesi/components/header.html' %}

	<!-- PAGE HEADING -->
	<div class="page-heading page-heading--height-3  overlay">

		<img class="s-img-switch" src="{% static 'websitesi/images/hakkimizda-resim.png' %}" alt="Ajun Hukuk Hakkında" />

		<h2 class="page-heading__title">Hakkımızda</h2>
	</div>

	<!-- BREADCRUMBS -->
	<div class="row">
		<div class="column">
			<div class="b-breadcrumbs">
				<a href="{% url 'anasayfa' %}" class="b-breadcrumbs__link">Ana Sayfa</a>
				<a href="{% url 'hakkimizda' %}" class="b-breadcrumbs__link">Hakkımızda</a>
			</div>
		</div>
	</div>

	<!-- SERVICES -->
	<div class="row align-center grid">
		<div class="columns small-12 medium-6 large-4">
			<div class="service-item">
				<figure class="effect-apollo">
					<img src="{% static 'websitesi/images/ajun-hukuk-prensipler.png' %}" alt="Ajun Hukuk İş Prensipleri">
					<div class="effect-apollo__overlay"></div>
				</figure>
				<h4 class="service-item__title">Prensiplerimiz ve Değerlerimiz</h4>
				<p class="service-item__content">Ajun Hukuk Bürosu, iş ahlakına ve etik değerlerine son derece bağlı ve müvekkillerine şeffaf ve hesap verilebilir şekilde hizmet veren; İzmir'de kurulmuş ve faaliyet gösteren bir hukuk bürosudur.</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4">
			<div class="service-item">
				<figure class="effect-apollo">
					<img src="{% static 'websitesi/images/ajun-hukuk-deneyim.png' %}" alt="Ajun Hukuk Deneyim">
					<div class="effect-apollo__overlay"></div>
				</figure>
				<h4 class="service-item__title">Hukukta Tecrübe</h4>
				<p class="service-item__content">Avukat Engin Ajun, çeşitli hukuk alanlarındaki uzun yıllık deneyimi ile Ajun Hukuk & Danışmanlık'ı kurmuştur ve engin hukuki tecrübelerini müvekkilleri yararına kullanmaktadır.</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4">
			<div class="service-item">
				<figure class="effect-apollo">
					<img src="{% static 'websitesi/images/ajun-hukuk-vizyon.png' %}" alt="Ajun Hukuk Vizyonu">
					<div class="effect-apollo__overlay"></div>
				</figure>
				<h4 class="service-item__title">Global Vizyon</h4>
				<p class="service-item__content">Engin Ajun, uzun yurtdışı deneyimleri sonucunda İngilizce ve İspanyolca dillerine akıcı şekilde hakim, global ölçekte düşünme ve karar alma yetisine sahip kendini geliştirmiş bir avukattır.</p>
			</div>
		</div>
	</div>

	<!-- ABOUT US -->
	<div class="row-fluid about-article-fluid">
		<div class="columns">
			<article class="row about-article">
				<div class="columns small-12 medium-6">
					<h2 class="about-article__title">Vizyonumuz</h2>
                    <div class="drop-caps drop-caps--style-1">
					   <p> İzmir merkezli Ajun Hukuk &Danışmanlık, Birleşmiş Milletler Havana Prensipleri ve Avukatlık Kanunu ve Etik Kuralları çerçevesinde hizmet sunmaktadır. Güvenilirlik, sır tutma ve özen gösterme kurallarına uygun olarak geniş yelpazede uzmanlık alanlarımızda sizlere yardımcı olmaktayız.</p> <p> &nbsp; Yeni çıkan yasaları anında takip etmekte ve bunları güncel olan tüm olaylara uygulamaktayız. Ezbere değil araştırarak müvekkillerimiz için en iyi çözüm yolunu bulmaya çalışmaktayız.  Yakın bir zaman içerisinde yurtdışında da hizmet verme hedefinde olan ofisimizde İngilizce ve İspanyolca dillerinde danışmanlık hizmeti verebilmekteyiz.  </p>
					</div>
                    <section class="about-article__section">
						<h2 class="about-article__section-title">Misyonumuz</h2>
                        <div class="drop-caps drop-caps--style-1">
						<p>Ajun Hukuk & Danışmanlık müvekkillerine sunduğu sağduyulu hizmet anlayışı ile hukukun tüm kaynaklarından yararlanarak İzmir’de faaliyetlerini sürdürmektedir. Günlük gelişmeler, hızlı değişimler ve teknolojinin hayatımızın her yerine teması sonrasında, kanunlar da hızlı bir biçimde değişmekte ve günün koşullarına cevap verir hale getirilmektedir.</p> <p> &nbsp; Her hukuki olayın kendisine özgü yapısı vardır. Çoğu zaman yaşadığımız olaylar ve ilişkiler, içinden çıkılamaz bir hal alır. Tüm bu uyuşmazlıkları ve davaları içtihatlar, kanunlar, arabuluculuk, tahkim ve emsal Yargıtay, Danıştay, İstinaf Mahkemesi kararlarını analiz ederek ve en son bilimsel ve teknolojik gelişmeleri kullanarak çözmekteyiz. Ofisimizin, üzerine çalışmakta olduğu geniş yelpazedeki uzmanlık alanlarının bazılarına aşağıda yer verilmiştir. </p>

					    </div>
                    </section>
				</div>
				<div class="columns small-12 medium-6 ">
					<div class="video-banner">
						<img src="{% static 'websitesi/images/vizyon-misyon-resim.png' %}" alt="Ajun Hukuk Vizyon ve Misyonu" class="s-img-switch">


					</div>
				</div>
			</article>
		</div>
	</div>

	<!-- ABOUT US -->
	<div class="row-fluid about-article-fluid">
		<div class="columns">
			<article class="row about-article">
                <div class="columns small-12 medium-6 ">
					<div class="video-banner">
						<img src="{% static 'websitesi/images/engin-ajun.png' %}" alt="Engin Ajun" class="s-img-switch">


					</div>
				</div>
				<div class="columns small-12 medium-6">
					<h2 class="about-article__title">Avukat Engin Ajun Kimdir?</h2>
                    <div class="drop-caps drop-caps--style-1">
					   <p> İzmir, 8.8.88 yılı doğumlu İzmir Barosuna kayıtlı olan Kurucu Avukat Engin AJUN Yaşar Üniversitesi Hukuk Fakültesi ve Ege Üniversitesi İngilizce Uluslararası İlişkiler bölümlerini başarıyla tamamlamış 2 üniversite mezunudur. Üniversite yıllarından itibaren yapmış olduğu sosyal çalışmalar, ulusal-uluslararası sunumları ve özel aldığı eğitimler ile birçok ödül ve sertifika sahibidir.</p> <p> &nbsp; Bir süre yurtdışında tecrübe kazanan Avukat Engin AJUN İngilizce ve İspanyolca dillerine ileri seviyede hakimdir. </p> <p> &nbsp; Kendisi çeşitli iş kollarında çalışmış ve üniversite eğitimi sonrasında 4 yılı aşkın süre Sosyal Güvenlik Kurumu Başkanlığında çalışmış olup Sosyal Güvenlik Hukuku ve Kurum mevzuatında ve İş Kanunlarında İşçi-işveren ve Sosyal Güvenlik Kurumu sac ayaklarını yerinde tecrübe edinmiştir. Daha sonraki dönemde Ajun Hukuk & Danışmanlık Ofisini kurarak İzmir Barosu bünyesinde bağımsız avukat olarak merkez İzmir olmak üzere hizmet vermeye başlamıştır.  </p>
					</div>

				</div>


			</article>
		</div>
	</div>



	<!-- Hemen Ara -->
	<div class="get-a-quote">
		<div class="row align-center">
			<div class="column small-12 medium-expand">
				<h3 class="get-a-quote__text">Hukuki Yardıma Mı İhtiyacınız Var? Ajun Hukuk Ekibi Sizin İçin Burada.</h3>
			</div>
			<div class="column small-12 shrink">
				<a href="tel:+902322423661" class="btn get-a-quote__link">Hemen Ara</a>
			</div>
		</div>
	</div>


{% include 'websitesi/components/footer.html' %}