{% load static %}

{% include 'websitesi/components/header.html' %}

	<!-- BANER SLIDER -->

	<div class="slider-1">
		<div id="layerslider" class="ls-wp-container fitvidsignore" style="width:1180px;height:700px;margin:0 auto;margin-bottom: 0;z-index:5;">

			<div class="ls-slide" data-ls="duration:10000;transition2d:70;timeshift:-3200;kenburnsscale:1.2;">
				<img width="2560" height="700" src="{% static 'websitesi/images/ajun-slayt-1.png' %}" class="ls-bg" alt="Ajun Avukatlık Bürosu - Slayt 1">
				<img width="1610" height="700" src="{% static 'websitesi/images/layerslider/slider-overlay-01.png' %}" class="ls-l" alt="" style="top:0;left:-300px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;" data-ls="showinfo:1;offsetxin:-100lw;durationin:1500;delayin:200;easingin:easeInOutBack;fadein:false;clipin:0 100% 0 0;offsetxout:-100lw;durationout:1500;startatout:transitioninend + 5100;easingout:easeInBack;fadeout:false;position:fixed;">
				<img width="1570" height="700" src="{% static 'websitesi/images/layerslider/slider-overlay-02.png' %}" class="ls-l" alt="" style="top:0;left:-300px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;" data-ls="showinfo:1;offsetxin:-100lw;durationin:1500;easingin:easeInOutBack;fadein:false;clipin:0 100% 0 0;offsetxout:-100lw;durationout:1500;startatout:transitioninend + 5000;easingout:easeInBack;fadeout:false;position:fixed;">
				<h2 style="text-transform:uppercase;top:510px;left:90px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;font-size:36px;color:#ffffff;" class="ls-l" data-ls="showinfo:1;offsetxin:-100lw;durationin:800;delayin:1500;easingin:easeInOutBack;offsetxout:-100lw;durationout:800;startatout:transitioninend + 4600;easingout:easeInBack;clipout:0 100% 0 0;position:fixed;">
					Avukat Engin Ajun'dan Hukuki Danışmanlık
				</h2>
				<h2 style="top:430px;left:90px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;font-size:22px;color:#ffffff;" class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetxin:-100lw;durationin:800;delayin:1700;easingin:easeInOutBack;offsetxout:-100lw;durationout:800;startatout:transitioninend + 4400;easingout:easeInBack;clipout:0 100% 0 0;position:fixed;">
					Engin Ajun ile hukuki sorunlara son<br>
					veren güçlü çözümler
				</h2>
			</div>


			<div class="ls-slide" data-ls="duration:10000;transition2d:70;timeshift:-3200;kenburnsscale:1.2;">
				<img width="2560" height="700" src="{% static 'websitesi/images/ajun-slayt-22.png' %}" class="ls-bg" alt="Ajun Hukuk - Slayt 2">
				<img width="1610" height="700" src="{% static 'websitesi/images/layerslider/slider-overlay-01.png' %}" class="ls-l" alt="" style="top:0;left:-300px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;" data-ls="showinfo:1;offsetxin:-100lw;durationin:1500;delayin:200;easingin:easeInOutBack;fadein:false;clipin:0 100% 0 0;offsetxout:-100lw;durationout:1500;startatout:transitioninend + 5100;easingout:easeInBack;fadeout:false;position:fixed;">
				<img width="1570" height="700" src="{% static 'websitesi/images/layerslider/slider-overlay-02.png' %}" class="ls-l" alt="" style="top:0;left:-300px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;"
					data-ls="showinfo:1;offsetxin:-100lw;durationin:1500;easingin:easeInOutBack;fadein:false;clipin:0 100% 0 0;offsetxout:-100lw;durationout:1500;startatout:transitioninend + 5000;easingout:easeInBack;fadeout:false;position:fixed;">
				<h2 style="top:460px;left:90px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;font-size:36px;color:#ffffff;" class="ls-l" data-ls="showinfo:1;offsetxin:-100lw;durationin:800;delayin:1500;easingin:easeInOutBack;offsetxout:-100lw;durationout:800;startatout:transitioninend + 4600;easingout:easeInBack;clipout:0 100% 0 0;position:fixed;">
					Avukat Engin Ajun - Ajun Hukuk & Danışmanlık
				</h2>
				<h2 style="top:510px;left:90px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;font-size:22px;color:#ffffff;" class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetxin:-100lw;durationin:800;delayin:1700;easingin:easeInOutBack;offsetxout:-100lw;durationout:800;startatout:transitioninend + 4400;easingout:easeInBack;clipout:0 100% 0 0;position:fixed;">
					Hukuki Sorunlarınıza Özveri ve Sağduyulu Çözüm Anlayışı
				</h2>
			</div>

			<div class="ls-slide" data-ls="duration:10000;transition2d:70;timeshift:-3200;kenburnsscale:1.2;">
				<img width="2560" height="700" src="{% static 'websitesi/images/ajun-slayt-3.png' %}" class="ls-bg" alt="Ajun Hukuk - Slayt 3">
				<img width="1610" height="700" src="{% static 'websitesi/images/layerslider/slider-overlay-01.png' %}" class="ls-l" alt="" style="top:0;left:-300px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;" data-ls="showinfo:1;offsetxin:-100lw;durationin:1500;delayin:200;easingin:easeInOutBack;fadein:false;clipin:0 100% 0 0;offsetxout:-100lw;durationout:1500;startatout:transitioninend + 5100;easingout:easeInBack;fadeout:false;position:fixed;">
				<img width="1570" height="700" src="{% static 'websitesi/images/layerslider/slider-overlay-02.png' %}" class="ls-l" alt="" style="top:0;left:-300px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;" data-ls="showinfo:1;offsetxin:-100lw;durationin:1500;easingin:easeInOutBack;fadein:false;clipin:0 100% 0 0;offsetxout:-100lw;durationout:1500;startatout:transitioninend + 5000;easingout:easeInBack;fadeout:false;position:fixed;">
				<h2 style="text-transform:uppercase;top:425px;left:90px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;font-size:36px;color:#ffffff;" class="ls-l" data-ls="showinfo:1;offsetxin:-100lw;durationin:800;delayin:1500;easingin:easeInOutBack;offsetxout:-100lw;durationout:800;startatout:transitioninend + 4600;easingout:easeInBack;clipout:0 100% 0 0;position:fixed;">
					Farklı Alanlarda Hizmet Veriyoruz<br>
					
				</h2>
				<h2 style="top:515px;left:90px;text-align:initial;font-weight:400;font-style:normal;text-decoration:none;word-wrap:normal;opacity:1;font-size:22px;color:#ffffff;" class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetxin:-100lw;durationin:800;delayin:1700;easingin:easeInOutBack;offsetxout:-100lw;durationout:800;startatout:transitioninend + 4400;easingout:easeInBack;clipout:0 100% 0 0;position:fixed;">
					Her Türlü Hukuki Sorununuz İçin<br>
					Buradayız
				</h2>
			</div>

		</div>
	</div>


	<!-- SERVICES and QUOTE -->
	<div class="row-fluid services-links-row">
		<div class="row">
			<div class="about-wrapper">

				<!-- About -->
				<div class="row about-section">
					<div class="columns small-12 large-4 about-section__column">
						<i class="icon-globe-1"></i>
						<div class="about-section__item">
							<h3 class="about-section__title">Avukat Engin Ajun'un Global Vizyonu</h3>
							<p class="about-section__item-content">Avukat Engin Ajun İngilizce ve İspanyolca dillerine ileri seviyede hakim; uluslararası hukuki çevrelerde bulunmuş uzman bir hukuki danışman ve avukattır.</p>
						</div>
					</div>
					<div class="columns small-12 large-4 about-section__column">
						<i class="icon-hammer"></i>
						<div class="about-section__item">
							<h3 class="about-section__title">Ajun Hukuk'tan Kaliteli Hizmet</h3>
							<p class="about-section__item-content">Avukat Engin Ajun'un kurduğu Ajun Hukuk Bürosu İzmir ve tüm Türkiye'deki müvekkil portföyüne en kaliteli ve dürüst hukuki danışmanlık hizmeti vermeyi amaçlar.</p>
						</div>
					</div>
					<div class="columns small-12 large-4 about-section__column">
						<i class="icon-users-1"></i>
						<div class="about-section__item">
							<h3 class="about-section__title">Ajun Hukuk'un Uzman Kadrosu</h3>
							<p class="about-section__item-content">Avukat Engin Ajun'un kurduğu Ajun Hukuk bürosunun uzman kadrosu hukuk ve ceza davalarınızda tüm hukuki sorunlarınızı çözmek için yanınızda</p>
						</div>
					</div>
				</div>
		
			</div>
		</div>
	</div>
<br><br>
	<div class="row">
		<div class="columns small-12 medium-6 large-3">
			<div class="service-item">
				<figure class="effect-apollo">
					<img src="{% static 'websitesi/images/ajun-hukuk-hakkimizda.png' %}" alt="Ajun Hukuk Hakkında">
					<div class="effect-apollo__overlay"></div>
				</figure>
				<h4 class="service-item__title"><a href="{% url 'hakkimizda' %}">Ajun Hukuk Hakkında</a></h4>
				<p class="service-item__content">Ajun Hukuk 2014 yılında İzmir ilinde avukatlık faaliyetlerine başlamış ve başarı ile avukatlık yapmaya devam eden bir hukuk bürosudur.</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-3">
			<div class="service-item">
				<figure class="effect-apollo">
					<img src="{% static 'websitesi/images/ajun-hukuk-uzmanlik-alanlarimiz.png' %}" alt="Ajun Hukuk Kariyer Olanakları">
					<div class="effect-apollo__overlay"></div>
				</figure>
				<h4 class="service-item__title"><a href="{% url 'uzmanliklar' %}">Uzmanlık Alanlarımız</a></h4>
				<p class="service-item__content">Avukat Engin Ajun'un kurucusu olduğu Ajun Hukuk Bürosu; hukukun birçok alanında uzman kadrosu ve bilgisi ile İzmir'de faaliyet göstermektedir.</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-3">
			<div class="service-item">
				<figure class="effect-apollo">
					<img src="{% static 'websitesi/images/ajun-hukuk-yayinlarimiz.png' %}" alt="Ajun Hukuk Makaleleri">
					<div class="effect-apollo__overlay"></div>
				</figure>
				<h4 class="service-item__title"><a href="#">Hukuki Yayınlarımız</a></h4>
				<p class="service-item__content">Ajun Hukuk Bürosu, hukuki faaliyetlerine İzmir ilinde başarı ile devam ederken; ayrıca ekibini hukuk alanında geliştirmek için hukuki yayınlar yayınlamaktadır.</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-3">
			<div class="service-item">
				<figure class="effect-apollo">
					<img src="{% static 'websitesi/images/ajun-hukuk-kariyer-olanaklari.png' %}" alt="Ajun Hukuk Kariyer Olanakları">
					<div class="effect-apollo__overlay"></div>
				</figure>
				<h4 class="service-item__title"><a href="{% url 'kariyer' %}">Kariyer Olanakları</a></h4>
				<p class="service-item__content">Avukat Engin Ajun her zaman uzman kadrosuna yetenekli avukatları ve stajyerleri katmayı hedeflemektedir. Ajun Hukuk Bürosu'ndaki kariyer olanakları için bize ulaşın.</p>
			</div>
		</div>
	</div>

	<!-- EXPERIENCE -->
	<div class="row">
		<div class="column">
			<h2 class="banner-title">UZMANLIK ALANLARIMIZ</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 large-4 columns tile-col">
			<section class="tile effect-bubba">
				<div class="tile__icon icon-money-1"></div>
				<h3 class="__title">Ticaret Hukuku</h3>
				<p class="tile__description">Ajun Hukuk, ticaret hukuku alanında İzmir ve tüm Türkiye'deki şirketlere Avukat Engin Ajun'un yönetiminde hukuki danışmanlık hizmeti vermektedir.</p>
				<i class="tile__arrow icon-right-4"></i>
				<a href="{% url 'ticarethukuku' %}" class="tile__link"></a>
			</section>
		</div>
		<div class="small-12 medium-6 large-4 columns tile-col">
			<section class="tile effect-bubba">
				<div class="tile__icon icon-suitcase"></div>
				<h3 class="__title">İş Hukuku</h3>
				<p class="tile__description">Ajun Hukuk Bürosu, iş hukuku alanında işçi ve işveren tarafında Avukat Engin Ajun yönetiminde hukuki uyuşmazlıkları çözüme kavuşturmaktadır.</p>
				<i class="tile__arrow icon-right-4"></i>
				<a href="{% url 'ishukuku' %}" class="tile__link"></a>
			</section>
		</div>
		<div class="small-12 medium-6 large-4 columns tile-col">
			<section class="tile effect-bubba">
				<div class="tile__icon icon-folder"></div>
				<h3 class="__title">İcra ve İflas Hukuku</h3>
				<p class="tile__description">İzmir ve Türkiye genelinde Engin Ajun, Ajun Hukuk Bürosu ile icra dosyalarınızın takibini ve uyuşmazlıklarının çözümlerini sağlamaktadır.</p>
				<i class="tile__arrow icon-right-4"></i>
				<a href="{% url 'icrahukuku' %}" class="tile__link"></a>
			</section>
		</div>
		<div class="small-12 medium-6 large-4 columns tile-col">
			<section class="tile effect-bubba">
				<div class="tile__icon icon-lifebuoy-1"></div>
				<h3 class="__title">Sağlık Hukuku</h3>
				<p class="tile__description">Avukat Engin Ajun, sağlık hukukundan doğan hukuki uyuşmazlıklarda Ajun Hukuk Bürosu ile sizin yanınızda.</p>
				<i class="tile__arrow icon-right-4"></i>
				<a href="{% url 'saglikhukuku' %}" class="tile__link"></a>
			</section>
		</div>
		<div class="small-12 medium-6 large-4 columns tile-col">
			<section class="tile effect-bubba">
				<div class="tile__icon icon-home-4"></div>
				<h3 class="__title">Gayrimenkul Hukuku</h3>
				<p class="tile__description">Avukat Engin Ajun ve Ajun Hukuk Bürosu, İzmir'in önde gelen gayrimenkul huykuku uyuşmazlıklarını çözen bürolarındandır.</p>
				<i class="tile__arrow icon-right-4"></i>
				<a href="{% url 'gayrimenkulhukuku' %}" class="tile__link"></a>
			</section>
		</div>
		<div class="small-12 medium-6 large-4 columns tile-col">
			<section class="tile effect-bubba">
				<div class="tile__icon icon-article-alt-1"></div>
				<h3 class="__title">Sözleşmeler Hukuku</h3>
				<p class="tile__description">Ajun Hukuk & Danışmanlık müvekkillerine sözleşme yazımı, sözleşme danışmanlığı ve sözleşmelerin hukuki danışmanlığı konularında İzmir'de kurulu ofisinde destek verir.</p>
				<i class="tile__arrow icon-right-4"></i>
				<a href="{% url 'sozlesmelerhukuku' %}" class="tile__link"></a>
			</section>
		</div>
	</div>
	<div class="row align-center">
		<a href="{% url 'uzmanliklar' %}" class="btn btn--ghost btn--small-medium">Tüm Uzmanlık Alanlarını Gör</a>
	</div>



<br><br>




	<!-- OUR PEOPLE -->
	<div style="background-color: #fafafa" class="row our-people-wrapper our-people-wrapper--elements">
		<div class="small-12 large-12 column">
			<div class="row">
				<div class="columns">
					<h1 style="text-align: center" class="element-title text-center">Avukat Hakkında</h1>
				</div>
			</div>
			<div class="row">

				<div style="margin: auto" class="small-12 medium-12 large-4 column">



					<div class="team-person team-person--style-2">
						<div class="team-person__img effect-apollo">
							<img src="{% static 'websitesi/images/avukat-engin-ajun.png' %}" alt="Avukat Engin Ajun" />
							<div class="effect-apollo__overlay"></div>
						</div>
						<div class="team-person__data">
							<h5 class="team-person__name">Engin Ajun</h5>
							<p class="team-person__position">Kurucu Avukat</p>
							<a href="tel:+902322423661" class="team-person__contact">0 (232) 242 36 61</a>
							<a href="mailto:engin@ajunhukuk.com" class="team-person__contact">engin@ajunhukuk.com</a>
							<a href="{% url 'hakkimizda' %}" class="team-person__link">Detaylı Bilgi</a>
						</div>
					</div>
				</div>
				<div class="small-12 column">
					<div class="row">
						<div class="columns">
							<hr class="separator separator--dashed separator--mt-0">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- GET A QUOTE -->
	<div class="get-a-quote">
		<div class="row align-center">
			<div class="column small-12 medium-expand">
				<h3 class="get-a-quote__text">İzmir Avukatlık İhtiyaçlarınız İçin Ajun Hukuk'un Uzman Kadrosundan Destek Alın</h3>
			</div>
			<div class="column small-12 shrink">
				<a href="tel:+902322423661" class="btn get-a-quote__link">Hemen Ara</a>
			</div>
		</div>
	</div>

{% include 'websitesi/components/footer.html' %}

	<script>
		jQuery("#layerslider").layerSlider({
			type: 'fullwidth',
			allowFullscreen: false,
			cycles: 3,
			navStartStop: false,
			navButtons: false,
			popupWidth: 640,
			popupHeight: 360,
			skinsPath: '{% static 'websitesi/layerslider/skins/' %}',
			hideOnMobile: false
		});
	</script>