{% load static %}

{% include 'websitesi/components/header.html' %}


	<!-- PAGE HEADING -->
	<div class="page-heading page-heading--no-img s-back-switch">
		<h1 class="page-heading__title">Sözleşmeler Hukuku</h1>
	</div>


	<!-- BREADCRUMBS -->
	<div class="row">
		<div class="column">
			<div class="b-breadcrumbs">
				<a href="{% url 'anasayfa' %}" class="b-breadcrumbs__link">Ana Sayfa</a>
				<a href="{% url 'uzmanliklar' %}" class="b-breadcrumbs__link">Uzmanlık Alanları</a>
				<a href="{% url 'sozlesmelerhukuku' %}" class="b-breadcrumbs__link">Sözleşmeler Hukuku</a>
			</div>
		</div>
	</div>

	<!-- SINGLE PRACTICE -->
	<div class="row align-center">
		<div class="columns small-12 large-9">
			<div class="single-practice">
				<div class="row">
					<div class="columns small-12">
						<div class="single-content">
							<figure class="post__thumb post__thumb--single-practice effect-apollo">
								<img src="{% static 'websitesi/images/sozlesmeler-hukuku.png' %}" alt="Sözleşmeler - Borçlar Hukuku">
								<div class="effect-apollo__overlay"></div>
							</figure>
							<h2>Sözleşmeler Hukuku</h2>
							<p>&nbsp; İki veya daha fazla taraf arasında birbirlerine uygun irade beyanı sonucu ortaya çıkan hukuki ilişki sözleşmedir.  Borçlar Kanunumuzda sözleşmelerin serbestliği ilkesi kabul edilmiştir. Sınırsız şekil ve şart ile sözleşme yapılabilecektir. Ancak ahlaka, adaba ve kanuna aykırı bir sözleşme yok hükmünde olacaktır. Tanıtım yapılan alanlar ile ilgili daha detaylı bilgiler için makaleler kısmına bakabilirsiniz. AJUN Hukuk & Danışmanlık uzman çalışma alanlarımızdan olan Borçlar Kanunundan doğan davalar ve sözleşmeler hukuku konusunda aşağıda belirtilenlerle sınırlı olmamak üzere müvekkillerine hizmet vermektedir:</p>

							<ul>
								<li>Kira Sözleşmeleri</li>
                                <li>Saklama Sözleşmesi</li>
                                <li>Haksız Fiilden, Sözleşmeden, Sebepsiz Zenginleşmeden Doğan Borç İlişkileri</li>
                                <li>Hizmet Sözleşmesi</li>
                                <li>İnanç Sözleşmesi</li>
                                <li>Adi Ortaklık Sözleşmesi</li>
                                <li>Satış Sözleşmesi</li>


							</ul>

                                                        <p>&nbsp; Ofisimizin de çalışma alanlarından olan Borçlar Kanunu ve Sözleşmeler Hukuku davaları hakkında, hak ve menfaat kaybına uğramamanız açısından uzman avukatlar ile çalışmanız yararınıza olacaktır. </p>


						</div>
					</div>
				</div>
			</div>


		</div>

		<!-- SIDEBAR -->
		<div class="columns small-12 medium-6 large-3">

			<!-- Practice Areas -->
			<section class="widget widget_categories">
				<h3 class="widget-title">Uzmanlık Alanları</h3>
				<ul>
					<li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
					<li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
					<li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
					<li><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
					<li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
					<li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
					<li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
					<li><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
					<li><a href="{% url 'trafikhukuku' %}">Trafik Sigorta Hukuku</a></li>
				</ul>
			</section>
			<!-- Latest Posts -->
			<section class="widget widget-latest-posts">
				<h3 class="widget-title">Ajun Hukuk'tan Son Yayınlar</h3>
				<ul>
                    {% for yayin in ucmakale %}
					<li>
						<a class="widget__date" href="{% url 'makaledetay' makaleslug=yayin.makale_slug %}">{{ yayin.makale_yayintarihi }}</a>
						<h4><a href="{% url 'makaledetay' makaleslug=yayin.makale_slug %}">{{ yayin.makale_baslik }}</a></h4>
					</li>
                    {% endfor %}
				</ul>
			</section>
		</div>
	</div>

	<!-- GET A QUOTE -->
	<div class="get-a-quote">
		<div class="row align-center">
			<div class="column small-12 medium-expand">
				<h3 class="get-a-quote__text">Ceza davanız ile ilgili ceza avukatına ihtiyacınız mı var?</h3>
			</div>
			<div class="column small-12 shrink">
				<a href="+902322423661" class="btn get-a-quote__link">Hemen Ara</a>
			</div>
		</div>
	</div>



{% include 'websitesi/components/footer.html' %}