// - - - - - - - - - - - - - - - - - - - - //
// Media Query Breakpoints
// - - - - - - - - - - - - - - - - - - - - //
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width-big: 1200px;

$medium: 40em;
$large: 64em;
$small: 639px;
$small-mobile: $mobile-width;